
$primary: #520802;
$acc: #A5986A;
$acc2: #EEBC35;


body {
  font-size: 13px;
  background-image: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "WearetrippinTall", Arial, Helvetica, sans-serif;
    color: $acc; 
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: lighten($primary, 4);
}

#layout-header {
  background-color: $primary;
}
.nav-wrapper {
  position: relative;
  background-image: none;
  background-color: $primary;
  box-shadow: 0 0 22px 14px #000000;
  z-index: 111;
}



/* Logo */


/* Menu */
.navbar-default .navbar-nav > li > a {
    font-family: "BenchNine","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    letter-spacing: 1px; 
}
ul.multi-level {
    border: 10px solid $primary,;
}
li.submenu {
    background-color: $primary;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: $primary;
    color: lighten($primary, 100);
    border: none;
}
a:focus {
    outline: none;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: $acc2;
}

/* Form */
.form-control {
    height: 32px;
    background-color: lighten($primary, 8);
    margin-bottom: 4px;
}


/* Contact Us */
div#contact-us {
    
}
#address {
   width: 400px;
}
#address_head {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-bottom: 8px;
}
#address_head span {
    font-family: Arial, Helvetica, sans-serif, "Helvetica Condensed";
    font-size: 12px;
    color: #949494;
    display: block;
}




/* Slideshow */
#hli-slideshow img {
	max-width: 100%;
	height: auto;
}



/* terms and conditions */
ul.terms-and-conditions-list {
	margin-bottom: 40px;
}
ul.terms-and-conditions-list li {
    list-style-image: url(../images/footer-link-arrow.png);
    margin-left: 15px;
    margin-bottom: 8px;
}


/* Footer */
div#foot_address span {
    margin-left: 15px;
}






/* extra small Contact */
.xs-contact {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.xs-contact ul {
    list-style: none;
    padding: 0px;
}
.xs-contact ul li {
    display: inline-block;
}
.xs-contact ul li a {
    display: inline-block;
    padding: 4px 11px 2px;
    font-size: 29px;
    border: solid 2px #b8412d;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 2px 3px 4px #ccc;
    margin: 15px 10px 7px;
    color: #fff;
    background: #b8412d;
}
.xs-contact ul li span {
    display: block;
    font-size: 11px;
    color: $acc;
}

.say-hello {
    font-size: 24px;
    color: $acc;
    margin-top: 30px;
    margin-bottom: 30px;
}
.say-hello span a {
    width: 60px;
    display: inline-block;
    margin: 0 1px;
    background: #f79b26;
    border-radius: 50%;
    height: 60px;
    color: $acc;
    padding: 8px 3px;
    font-size: 33px;
}
.say-hello .fa-phone-volume {
	color: #fff;
}



/* Footer */
footer {
	background-color: 211f1f; 
}
footer .foot_head span small {
	
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	#site-logo img {
		max-width: 100%;
		margin-top: 8px;
	    margin-left: -15px;
	}
	.navbar-toggle {
	    position: relative;
	    float: left;
	    padding: 9px 10px;
	    margin-top: 8px;
	    margin-right: 15px;
	    margin-bottom: 8px;
	    background-color: transparent;
	    background-image: none;
	    border: 0px solid transparent;
	    border-radius: 4px;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
	  background-color: $primary;
	}

	#carousel-top-img {
	    max-width: auto;
	    height: 30%; 
    }
	#layout-content {
		margin-top: 40px;
	}

    #hli-content-wrapper {
    	position: static;
    	color: #fff;
    	padding: 20px;
    	margin-top: 30px;
    }
    #hli-content-wrapper-home {
    	background-color: #401d3d;
    }#hli-content-wrapper-home h4 {
    	text-align: center;
    }
    #hli-content-wrapper-about {
    	background-color: #063e3f;
    }
    #hli-content-wrapper-accommodation {
    	background-color: #86003C;
    }
    #hli-content-wrapper-accommodation .card-body {
    	margin-bottom: 20px;
    }
    #hli-content-wrapper-services {
    	background-color: #124d92;
    }
    #hli-content-wrapper-services h1 {
    	color: #fff;
    	margin-bottom: 20px;
    }
    #hli-content-wrapper-services .hli-main-content ul {
    	color: #999;
    	text-align: center;
    }
    #hli-content-wrapper-testimonials {
    	background-color: #333;
    }
    #hli-content-wrapper-testimonials blockquote span.apostrophy {
    	font-size: 20px;
    }
    #hli-content-wrapper-terms {
    	background-color: #021c2d;
    }
    #hli-content-wrapper-privacy {
    	background-color: #bf1436;
    }
    h1 {
    	text-align: center;
    }

    .table-responsive {
    	color: #000;
    }

    #os_fancybox-thumbs.bottom {
    	bottom: 40px;
    }


    footer {
		position: relative;
		top: 0px;
		background-color: #333;
	}    

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container .row .contact {
        margin-bottom: 40px;;
    }

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#booking-form-wrapper div, #booking-form-wrapper .form-control {
		background: darken($primary, 2);
		height: 40px;
	}
	#layout-content {
		margin-top: 0px;
	}
	#hli-content-wrapper {
    	padding: 0px;
    	margin-top: 0px;
    }
    .hli-main-content {
    	width: 100%;
	    max-height: 450px;
    	position: absolute;
    	bottom: 110px;
    	color: #000;
    	background-color: #FFF;
    	opacity: 0.6; 
    	padding: 0 20px;
    	margin-top: 0px;
    	overflow-y: scroll;
    }
    .hli-content p {
    	color: #000;
    	opacity: 1; 
    }
    #hli-content-wrapper-services h1 {
    	color: $acc;
    	margin-bottom: 20px;
    }
	footer {
		position: relative;
		top: -21px;
	  background-color: #333;
	}
}