<br><br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="hli-banner">
                <img src="{{ url('assets/images/banner/first.jpg'|theme) }}">
                <div id="parallelogram"></div>
                <div class="details">
                    <h6>ITS TIME TO BOOK</h6>
                    <p>Booking direct is guaranteed to save you <span id="discount">5% off</span> your next stay with us. Book by 31 Jan 2018</p>
                    <div id="hli-banner-book-button"><span>Book Now</span><div id="triangle-right"></div></div>
                </div>
            </div> 
        </div><!-- .col-xs-12 col-md-4  -->

        <div class="col-xs-12 col-md-4">
            <div class="hli-banner">
                <img src="{{ url('assets/images/banner/second.jpg'|theme) }}">
                <div id="parallelogram"></div>
                <div class="details">
                    <h6>Best Cuisine Available</h6>
                    <p>We serve all kinds of veg and non-veg foods items.</p>
                    <div id="hli-banner-book-button"><span>Book Now</span><div id="triangle-right"></div></div>
                </div>
            </div> 
        </div><!-- .col-xs-12 col-md-4  -->

        <div class="col-xs-12 col-md-4">
            <div class="hli-banner">
                <img src="{{ url('assets/images/banner/third.jpg'|theme) }}">
                <div id="parallelogram"></div>
                <div class="details">
                    <h6>Wide Range Of Services</h6>
                    <p>We have every kind of facilities and services which will make your stay here enjoyable.</p>
                    <div id="hli-banner-book-button"><span>Book Now</span><div id="triangle-right"></div></div>
                </div>
            </div> 
        </div><!-- .col-xs-12 col-md-4  -->
    </div> <!-- .row  -->
</div> <!-- .container  -->
