<ul class="header-social">
    <li><a href="https://www.facebook.com/Hotel-Ladakh-Imperial-208567949716788/" class="facebook"></a></li>
</ul>

    <!-- <li><span>Get in Touch With Us: </span></li> -->
    <!-- <li><a href="http://www.facebook.com/<?php echo str_replace(' ', '', mb_convert_case($company, MB_CASE_LOWER, "UTF-8")); ?>" class="facebook"></a></li> -->
    <!-- <li><a href="http://www.youtube.com/<?php echo str_replace(' ', '', mb_convert_case($company, MB_CASE_LOWER, "UTF-8")); ?>" class="youtube"></a></li> -->
    <!-- <li><a href="http://www.twitter.com/<?php echo str_replace(' ', '', mb_convert_case($company, MB_CASE_LOWER, "UTF-8")); ?>" class="twitter"></a></li> -->
    <!-- <li><a href="http://www.gplus.com/<?php echo str_replace(' ', '', mb_convert_case($company, MB_CASE_LOWER, "UTF-8")); ?>" class="gplus"></a></li> -->